/* Global */
* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    max-width: 100vw;
}

/* Navigation */

nav {
    display: flex;
    flex-flow: row no-wrap;
    position: relative;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem var(--box-shadow);
    box-sizing: border-box;
 }

h1 {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    width: 95%;
    margin: 0;
    justify-content: space-between;
}

.user-input input,
.user-input select {
    min-height: 2rem;
    border-radius: 0.5rem;
    border: solid thin lightgrey;
    background: white;
    padding: 1rem;
}

.user-input input {
    width: 20%;
    min-width: 10rem;
}

select {
    margin-right: 2rem;
    text-align: center;
    margin-top: 0;
}

main {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    margin: 0;
    flex-flow: column nowrap;
    height: 20rem;
    width: 15rem;

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 1rem;
}

img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 100%;
    height: 45%;
    /* This one I had to look up. To get the flags positioned and scaled correctly  */
    object-fit: cover;
    object-position: center;
}

h3 {
    margin: 0;
}

span {
    font-weight: 600;
}

.card-content p {
    font-size: 0.85rem;
}
}