@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Global */
* {
    font-family: 'nunito sans';
}
:root {
    --bg-white: #ffffff;
    --box-shadow: lightgrey;
}

body {
    margin: 0;
    max-width: 100vw;
}

/* Navigation */

nav {
    display: flex;
    flex-flow: row no-wrap;
    position: relative;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem var(--box-shadow);
    box-sizing: border-box;
 }

h1 {
    height: 100%;
    align-content: center;
}

 h1 a, p a{
    margin: 0;
    text-decoration: none;
    color: black;
 }

 p a {
    margin-right: 1rem;
 }

 /* User Input */

.user-input {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    width: 95%;
    margin: 0;
    justify-content: space-between;
}

.user-input input,
.user-input select {
    height: 4rem;
    border-radius: 0.5rem;
    border: solid thin lightgrey;
    background: white;
    padding: 1rem;
    box-shadow: 0 0 0.5rem var(--box-shadow);
}

.user-input input {
    width: 20%;
    width: 30rem;
    padding: 0.5rem;
    padding-left: 1rem;
}

select {
    text-align: center;
    width: 12rem;
}

select .placeholder {
    color:#888;
}

main {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    margin: auto 0;
}

/* Card Style */

.card {
    display: flex;
    flex-flow: column nowrap;
    height: 20rem;
    width: 15rem;
    box-shadow: 0 0 5px gainsboro;
    transition: transform 50ms ease;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--box-shadow);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.35rem var(--box-shadow);
}

.card-content {
    padding: 1rem;
}

img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: 45%;
    /* This one I had to look up. To get the flags positioned and scaled correctly  */
    object-fit: cover;
    object-position: center;
}

h3 {
    margin: 0;
}

span {
    font-weight: 600;
}

.card-content p {
    font-size: 0.85rem;
}