/* Global */
* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --bg-white: #ffffff;
}

body {
    margin: 0;
}

/* Navigation */

nav {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    box-shadow: 0 5px 10px gainsboro;
 }

h1 {
    height: 100%;
    margin: 0 0 0 2rem;
    align-content: center;
}

 h1 a, p a{
    margin: 0;
    text-decoration: none;
    color: black;
 }

 p a {
    margin-right: 1rem;
    font-weight: bold;
 }

 /* User Input */

.user-input {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
}

.user-input input,
.user-input select {
    min-height: 2rem;
    border-radius: 0.5rem;
    border: solid thin lightgrey;
    background: white;
    padding: 1rem;
}

.user-input input {
    width: 30%;
    padding: 0.5rem;
    padding-left: 1rem;
}

select {
    margin-right: 2rem;
    text-align: center;
    margin-top: 0;
}

main {
    padding: 2rem;
}

/* Card Style */

.card {
    display: flex;
    flex-flow: column nowrap;
    height: 20rem;
    width: 15rem;
    box-shadow: 0 0 5px gainsboro;
    transition: transform 50ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 1rem;
}